# Web Framework
Django<3.3

# DB
psycopg2-binary>=2.7,<3.0

# WSGI
gunicorn==20.0.4

# GroupMe app
djangorestframework==3.12.1
requests==2.28.1

# Tests
freezegun==1.0.0

# OpenAI
openai==1.10.0

# Legacy support -- python3.13 got rid of cgi support
legacy-cgi==2.6.3
